.footer__links {
    display: flex;
    max-width: 1184px;
    align-items: baseline;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .footer__links {
        margin: 0 48px;
    }
}

@media (max-width: 768px) {
    .footer__links {
        margin: 0 24px;
    }
}


@media (max-width: 700px) {
    .footer__links {
        flex-flow: wrap column;
        margin: 0;
        gap: 48px;
    }
}