.cover {
    position: relative;
    max-width: 1184px;
    min-height: 740px;
    width: 100%;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin: 92px auto 0;
    flex-wrap: wrap;
}



@media (max-width: 1184px) {
    .cover {
        min-height: calc(100vw * 740 / 1184);
    }
}

@media (max-width: 1024px) {
    .cover {
        min-height: calc(100vw * 640 / 1024);
    }
}

@media (max-width: 768px) {
    .cover {
        min-height: calc(100vw * 480 / 768);
        margin-top: 90px;
    }
}

@media (max-width: 320px) {
    .cover {
        /*max-width: 320px;*/
        min-height: 200px;
        margin-top: 66px;
    }
}