.cover__background {
    display: flex;
    max-width: 1184px;
    width: 100%;
    z-index: 1;
}

.cover__background:hover {
  opacity: 0.8;
}


@media (max-width: 1024px) {
    .cover__background {
        max-width: 1024px;
    }
}

@media (max-width: 768px) {
    .cover__background {
        max-width: 768px;
    }
}

@media (max-width: 320px) {
    .cover__background {
        max-height: 320px;
    }
}