.footer {
    max-width: 1184px;
    margin: 92px auto 24px;
}


@media (max-width: 768px) {
    .footer {
        margin: 92px 0 24px;
    }
}

@media (max-width: 700px) {
    .footer {
        margin: 64px 0 24px 16px;
        flex-flow: wrap column;
        gap: 48px;
    }
}